@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Libre+Baskerville:wght@700&family=Titan+One&family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Libre+Baskerville:wght@700&family=Pirata+One&family=Titan+One&family=UnifrakturMaguntia&display=swap');
body{
    background-image: url(fundo2.jpeg);
}
h1{
    text-align:end;
    font-family:'UnifrakturMaguntia', sans-serif;
    font-size: 70px;
align-items: center;
color:#ff5600
}
a{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;}

    button{
        position: relative;
       cursor: pointer;
       background-color:#f778ca;
       color: #fff;
       font-size: 16px;
       font-weight: bold;
       border: 0;
       border-radius: 6px;
       height: 48px;
       padding: 0 32px;

       transition: filter 0.1s;

    }
.container{
margin-top: 10px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);


}
.hide{
   display: none;
}

.controle-container{
  color: #3f3185;
  margin: 0;
    padding: 0;
    
}
.correct {
    background-color: #21679f;
  }
  
  .incorrect {
    background-color: #a5d6ff;
  }

  .botao{
    cursor: pointer;
    background-color:#21679f;
  }

  .respostas-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: auto;
    
  }
  .question {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-family: 'Pirata one' , sans-serif;
    padding: 20px;
    margin: 50px;
    border: 50px;
  }

  .next{
    margin-top: 32px;
    align-items: center;
  }
  .button:not(:disabled):hover {
    filter: brightness(0.8);
  }
  .questoes-container{
    gap: 40px;
    width: 100%;
    margin: 40px;
  align-items: center;
  }


  .cronometro {
    text-align: center;
    color: #fff;
    
}

#tempo {
    font-size: 2em;
    margin: 10px;
}

.jogadores {
  margin-top: 0%;
  float: left;
}



.jogador {
  float: right;
}

.jogador-container {
  position: relative;
  display: inline-block;
}

.play {
  position: absolute;
  top: 63%;
  left: 13%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.play input {
  margin-bottom: 10px;
  height: 30px;
  border-radius: 6px;
}

.play2{
  position: absolute;
  top: 65%;
  left: 87%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.play2 input{
  margin-bottom: 10px;
  height: 30px;
  border-radius: 6px;
}

.liink{
 
       cursor: pointer;
       background-color:#06bb00;
       color: #fff;
       font-size: 24px;
     
       border: 0;
       border-radius: 6px;
       height: 70px;
       padding: 0 32px;

       position: absolute;
       top: 90%;
       left: 95%;
       transform: translate(-50%, -50%);
       text-align: center;
    
      
       line-height: 70px; 
    
       text-decoration: none;
       
       
}